.Donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.headers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* Alinha o texto à direita */
    text-align: right;
    /* Garante que o texto fique alinhado à direita */
    margin-bottom: 20px;
    width: 100%;
    /* Garante que o header ocupe a largura total do container */
    padding: 20px;
    /* Adiciona algum espaçamento ao redor do texto */
    background: linear-gradient(to right, transparent, #b6a175);
    /* Gradiente da esquerda para a direita */
    border-radius: 10px;
    /* Bordas arredondadas para um visual moderno */
    animation: slideIn 1.5s ease-out;
    /* Animação de deslize e surgimento */
}

.headers p {
    font-size: 1.5rem;
    /* Aumenta o tamanho do parágrafo */
    color: #ffffff;
    /* Cor do texto */
}

.titles {
    font-size: 3rem;
    /* Aumenta o tamanho do título */
    margin-bottom: 10px;
    font-weight: bold;
    /* Negrito para um visual mais forte */
    color: #ffffff;
    /* Cor do texto */
    text-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}

.newDonation {
    position: relative;
    display: inline-block;
    background-color: #37a82d;
    color: #fff;
    font-size: 14px;
    padding: 15px 20px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.newDonation i {
    margin-right: 5px; /* Adiciona um espaço entre o ícone e o texto */
}

.newDonation:hover i::before {
    content: '\f004'; /* código do ícone de coração */
    font-family: 'Font Awesome 5 Free';
}

.newDonation:hover {
    background-color: #ff6347; /* mudando a cor do botão ao passar o mouse */
}


.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.image-wrapper {
    width: 100%;
    height: 230px; /* Ou a altura desejada */
    overflow: hidden;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 10px 10px 0 0;
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.product-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.product-card p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.product-card:hover {
    transform: translateY(-5px);
}

/* .NavLink {
    background-color: #37a82d;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
}

.NavLink:hover {
    background-color: #27791f;
} */