.ecoponto-form-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.EcopontoForm-forms {
    flex: 1;
    padding: 20px;
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EcopontoForm-forms-container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 80%;
    max-width: 768px;
    padding: 20px;
}

.EcopontoForm-forms-header {
    background-color: #25861c;
    padding: 20px;
    border-radius: 10px;
    background-image: radial-gradient(circle, rgba(0, 255, 0, 0.493) 0%, rgba(0, 0, 0, 0) 100%);
}

.EcopontoForm-forms-title {
    color: #fff;
    text-align: center;
    margin: 0;
}

.EcopontoForm-forms-form-group {
    margin-bottom: 20px;
}

.EcopontoForm-forms-input-field,
.EcopontoForm-forms-select-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddfe2;
    border-radius: 5px;
    box-sizing: border-box;
}

.EcopontoForm-forms-select-field {
    background-color: #f8f9fa;
    color: #6c757d;
}

.EcopontoForm-forms-submit-btn {
    width: 50%;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #195813;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.EcopontoForm-forms-submit-btn:hover {
    background-color: #25861c;
}

.EcopontoForm-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.EcopontoForm-modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.EcopontoForm-modal p {
    margin: 0;
}

.EcopontoForm-modal.active {
    opacity: 1;
    pointer-events: auto;
}

.EcopontoForm-modal.active .EcopontoForm-modal-content {
    transform: scale(1);
}

.EcopontoForm-modal-icon {
    font-size: 48px;
    color: #4CAF50;
    margin-bottom: 20px;
}