.eco-container {
    display: flex;
    flex-direction: column;
    min-height: 94vh;
}

.det_body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.eco-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinha o texto à direita */
    text-align: right;
    /* Garante que o texto fique alinhado à direita */
    margin-bottom: 20px;
    width: 100%;
    /* Garante que o header ocupe a largura total do container */
    padding: 20px;
    /* Adiciona algum espaçamento ao redor do texto */
    background: linear-gradient(to right, transparent, #b6a175);
    /* Gradiente da esquerda para a direita */
    animation: slideIn 1.5s ease-out;
    /* Animação de deslize e surgimento */
    color: #fff;
}

#eco_name {
    color: rgb(255, 255, 255); /* Define o texto como branco */
    margin: 0; /* Remove margens padrão */
    text-align: center; /* Centraliza o texto */
    font-size: xx-large;
    margin-bottom: 10px;
    font-weight: bold;
    /* Negrito para um visual mais forte */
    color: #ffffff;
    /* Cor do texto */
    text-shadow: 0 10px 5px rgba(0, 0, 0, 0.1);
}


.details-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 5px 8px 20px;
    flex-grow: 1;
}

.map-container{
    flex: 1;
    width: 400px; /* Defina um tamanho fixo ou um tamanho flexível */
    height: 584px; /* Garantir que o mapa seja quadrado */
}

.map {
    flex: 1;
    width: 100%; /* Defina um tamanho fixo ou um tamanho flexível */
    height: 100%; /* Garantir que o mapa seja quadrado */
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.description {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #FFF;
}

.description p {
    margin: 0; /* Remove margens padrão */
    padding: 5px 0; /* Adiciona espaçamento entre os itens */
    font-size: 16px; /* Ajusta o tamanho da fonte */
    line-height: 1.5; /* Ajusta a altura da linha para melhor legibilidade */
}

.description .title {
    font-weight: bold; /* Destaca os títulos */
    margin-top: 10px; /* Adiciona espaçamento acima dos títulos */
}

.description .note {
    margin-top: 20px; /* Adiciona mais espaçamento acima da nota */
    font-style: italic; /* Deixa a nota em itálico */
    color: #37a82d; /* Cor diferente para destacar a nota */
}