.header-container {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.logo {
  width: 150px;
}
.navigation {
  display: flex;
  gap: 20px;
}
.nav-item {
  color: #323334;
  font: 700 16px Roboto, sans-serif;
}
.user-profile {
  display: flex;
  align-items: center;
}
.user-image {
  width: 48px;
  border-radius: 12px;
}
.background-image,
.icon-image {
  width: 34px;
}
.highlight-section {
  text-align: center;
  margin-top: 40px;
}
.highlight-image {
  width: 100%;
}
.content-section {
  margin-top: 40px;
}
.content-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1348px;
}
.box {
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.left-container,
.right-container {
  background-color: #fafafa;
  padding: 20px;
}
.image-left,
.image-right,
.image-single {
  width: 100%;
}
.category {
  margin-top: 20px;
}
.category-label {
  font: 700 28px Roboto, sans-serif;
  color: #323334;
}
.veja-mais-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #323334;
  background-color: transparent;
  padding: 18px 21px;
  font: 16px Roboto, sans-serif;
  cursor: pointer;
}
.recent-section {
  text-align: center;
  margin-top: 50px;
}
.recent-title {
  color: #000;
  font: 700 48px "Open Sans", sans-serif;
}
.recent-container {
  margin-top: 40px;
}
.recent-items {
  display: flex;
  justify-content: space-between;
}
.recent-item {
  width: 23%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recent-image {
  width: 100%;
  margin-bottom: 20px;
}
.info {
  text-align: center;
}
.item-title {
  font: 700 32px Roboto, sans-serif;
  color: #323334;
}
.location {
  font: 400 20px Roboto, sans-serif;
  color: rgba(30, 30, 30, 0.5);
}
.ecoponto-section {
  margin-top: 100px;
  padding: 0 40px;
}
.ecoponto-header {
  text-align: center;
}
.ecoponto-title {
  color: #000;
  font: 700 48px "Open Sans", sans-serif;
  margin-bottom: 40px;
}
.ecoponto-map {
  width: 100%;
}
.ecoponto-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.ecoponto-item {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ecoponto-content {
  background-color: #f5f6f8;
  text-align: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.ecoponto-image {
  width: 100px;
  margin-bottom: 20px;
  border-radius: 12px;
}
.ecoponto-name {
  font: 600 16px "Open Sans", sans-serif;
  color: #000;
}
.ecoponto-location {
  font: 400 14px "Open Sans", sans-serif;
  color: #97989f;
}
.more {
  text-align: center;
  margin-top: 40px;
}
.veja-mais {
  background-color: #ab7954;
  color: #fff;
  padding: 19px 60px;
  font: 700 18px "Open Sans", sans-serif;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.footer-container {
  background-color: #866049;
  color: #fff;
  padding: 64px 78px;
  display: flex;
  justify-content: space-between;
}
.footer-info,
.footer-links,
.footer-blog {
  width: 30%;
}
.store-name {
  font: 28px Roboto, sans-serif;
}
.description {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
}
.address,
.phone,
.email {
  margin-top: 15px;
}
.footer-links {
  margin-top: 40px;
}
.links-header {
  font: 700 16px Roboto, sans-serif;
}
.links-list {
  list-style: none;
  margin: 20px 0 0;
  padding: 0;
}
.link-item {
  margin: 10px 0;
  font: 400 14px Roboto, sans-serif;
}
.footer-blog {
  margin-top: 40px;
}
.blog-header {
  font: 700 16px Roboto, sans-serif;
}
.blog-post {
  margin-top: 20px;
}
.post-date {
  display: flex;
  align-items: baseline;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.5);
}
.date-day {
  font: 24px Roboto, sans-serif;
}
.date-month {
  font: 14px Roboto, sans-serif;
  margin-left: 5px;
}
.post-summary {
  color: #fff;
  margin-top: 10px;
  font: 300 16px Roboto, sans-serif;
}
.post-comments {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 5px;
  font: 14px Roboto, sans-serif;
}
.post-image {
  width: 100%;
  margin-top: 10px;
}
.footer-bottom {
  text-align: center;
  background-color: #555;
  width: 100%;
  padding: 19px 60px;
  color: #fff;
  font: 300 14px Roboto, sans-serif;
  margin-top: 40px;
}
