.floating-button-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Garante que o botão flutuante esteja acima de outros elementos */
  }
  
  .floating-button {
    background-color: #17d136; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda */
    border-radius: 5px; /* Bordas ligeiramente arredondadas */
    width: 120px; /* Largura inicial do botão */
    height: 65px; /* Altura do botão */
    font-size: 16px; /* Tamanho da fonte do texto do botão */
    cursor: pointer; /* Altera o cursor quando passa sobre o botão */
    box-shadow: 8px 10px 3px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    outline: none; /* Remove o contorno ao clicar */
    display: flex; /* Permite alinhar o conteúdo */
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Centraliza o conteúdo verticalmente */
    transition: width 0.1s ease; /* Transição suave para a largura ao passar o mouse */
    overflow: hidden; /* Esconde o texto fora dos limites do botão */
    text-decoration: none;
    padding-left: 10px;
  }
  
  .floating-button:hover {
    background-color: #68e478; /* Cor de fundo do botão quando passa o mouse sobre ele */
    width: 170px; /* Largura do botão quando passa o mouse */
    color: black;
    padding-right: 13.9px;
  }
  
  .floating-button-icon {
    display: inline-block; /* Exibe o ícone em linha */
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
    
  }
  
  .floating-button-text {
    margin-left: 10px; /* Espaço entre o ícone e o texto */
    transition: display 0.3s ease; /* Transição suave para exibir o texto */
  }
  
  .floating-button:hover .fab.fa-plus {
    opacity: 0; /* Esconde o ícone ao passar o mouse */
  }

  .floating-button:hover .fa.fa-heart{
    display: inline-block;
  }
  
  .floating-button:hover .floating-button-text {
    display: inline-block; /* Exibe o texto ao passar o mouse */
  }
  
  .fa.fa-heart{
    display: none; /* Esconde o texto por padrão */
    color: red;
  }