body {
  font-family: Arial;
}

.app {
  max-width: 100%;
  background-color: rgba(255, 222, 89, 0.5);
  /* background-image: url('./img/bg4.jpg'); */
  /* background-position: center;
    background-size: cover; */
}

div .gradiente {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: linear-gradient(to bottom, #25861c, rgba(37, 134, 28, 0));
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

.eco-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

/* .eco-item { */
/* Estilos adicionais para cada índice, se necessário */
/* }   */