.accountsettings{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.accountsettings h1{
    padding: 10px 20px;
}


.accountsettings .form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px;
}

.accountsettings .form .form-group{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
}

.accountsettings .form .form-group label{
    font-size: 1.2rem;
    font-weight: 300;
    margin-bottom: 5px;
}

.accountsettings .form .form-group input{
    padding: 10px 20px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    outline: none;
}

.accountsettings .form .form-group input:focus{
    border: 1.5px solid lightgreen; /* Define a borda verde claro quando o campo está em foco */
}

.accountsettings button{
    background-color: #37a82d;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 15px;
}

.accountsettings button:hover{
    background-color: #27791f;
}


@media (max-width: 800px){
    .accountsettings .form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
    }

    .accountsettings .form .form-group{
        display: flex;
        flex-direction: column;
        width: 97%;
        margin: 10px;
    }
    .accountsettings h1{
        font-size: 20px;
    }
    .accountsettings .form .form-group label{
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 5px;
    }
} 