.EditForm-forms{
  padding: 20px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.EditForm-forms-container{
  margin: 0 auto;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  padding: 20px;
}

.EditForm-forms-header{
  background-color: #25861c;
  padding: 20px;
  border-radius: 10px;
  background-image: radial-gradient(circle, rgba(0, 255, 0, 0.493) 0%, rgba(0, 0, 0, 0) 100%);
  margin-bottom: 20px;
}

.EditForm-forms-title{
  color: #fff;
  text-align: center;
  margin: 0;
}

.EditForm-forms-form-group{
  margin-bottom: 20px;
}

.EditForm-forms-input-field{
  width: 100%;
  padding: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  box-sizing: border-box;
}

.EditForm-forms-input-field-container{
  display: inline-block;
  width: calc(50% - 5px);
  margin-right: 10px;
}

.EditForm-forms-form-group-inline {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.EditForm-forms-input-field-Donation{
  width: 100%;
  padding: 10px;
  border: 1px solid #dddfe2;
  border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  height: 200px;
  overflow: auto;
  resize: none;
}